body {
  background-color: #000;
  color: #fff;
  font-family: "HK-Grotesk";
}
h1 {
  font-size: 74px;
}
p.lead {
  font-size: 30px;
}
p {
  font-size: 20px;
}
footer > .container > p {
  font-size: 16px;
}
button:focus {
  outline: none;
}
button.gradient {
  font-size: .875rem;
  letter-spacing: 1.5px;
  padding: .5rem 3rem;
  color: #fff;
  border: solid 2px transparent;
  border-radius: 100rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #0074FF, #D49CFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}
button.gradient:hover {
  box-shadow: none;
  color: #fff;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.4rem;
      padding-left: 0.4rem;
  }
}
/* overrides of bootstrap */
.navbar-dark {
  background-color: #000 !important;
  box-shadow: none;
}
.navbar-dark .navbar-toggler {
  border: none;
}
/* custom ish */
.below-fold {
  background: linear-gradient(90deg, rgba(0, 116, 255, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
.made-with-footer {
  color: rgba(30,215,96, .6);
}
.made-with-footer:hover {
  color: rgba(30,215,96, .6);
  text-decoration: none;
}
.copyright {
  color: rgba(255, 255, 255, .3);
}
.get-started {
  background: linear-gradient(90deg, #0074FF 1.8%, #D49CFF 100%);
  border: none;
  border-radius: 100px;
  color: #000;
  padding-left: 3em;
  padding-right: 3em;
}
.shove-down {
  padding-top: 150px;
}
.shove-down-sm {
  padding-top: 70px;
}
.animated-icons {
  max-width: 15%;
  max-height: 15%;
  width: 15%;
  height: 15%;
}
.logo {
  max-width: 150%;
  width: 150%;
  height: auto;
}
.navbar-brand {
  padding-left: 2em;
  padding-top: 1em;
}
.navbar-nav {
  padding-right: 2em;
  padding-top: .75em;
}
.navbar-toggler {
  padding-right: 2em;
  padding-top: 1em;
}
@media (max-width: 576px) {
  .shove-down {
    padding-top: 10px;
  }
  .shove-down-sm {
    padding-top: 30px;
  }
  h1 {
    font-size: 45px;
  }
  p.lead {
    font-size: 24px;
  }
}
/* size when the nav buttons get collapsed into menu toggle */
@media (max-width: 768px) {
  button.gradient {
    font-size: 1rem;
    padding: .1rem 3rem;
  }
  .animated-icons {
    max-width: 25%;
    max-height: 25%;
    width: 25%;
    height: 25%;
  }
}

