/* These classes correspond with the roles defined in .custom_roles.rst */
.underline {
  text-decoration: underline;
}
.violet {
  color: #A11FFF;
}
.violetemph {
  color: #A11FFF;
  font-weight: bold;
}
.tagline {
  font-variant-caps: all-small-caps;
}
.release {
  color: #A11FFF;
  font-style: italic;
  font-weight: bold;
}
