[run]
parallel = True
branch = True
source =
    src

[paths]
source =
   src
   .tox/*/site-packages

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abc.abstractmethod

[xml]
output = cobertura/coverage.xml
