# Include anything required to run the library that is *not* a Python file in `src/`
include *.txt tox.ini .coveragerc *.rst *.md
recursive-include src *.proto
recursive-include tests *.py *.json *.txt *.avro

# Documentation
recursive-include docs *.png
recursive-include docs *.ico
recursive-include docs *.md
recursive-include docs *.rst

# No need for GitHub-specific files.
prune .github
