sphinx==3.2.0
sphinx-autobuild==0.7.1
pydata_sphinx_theme==0.4.0
sphinx-click==2.5.0
sphinx-notfound-page==0.6
sphinx-reredirects==0.0.1
sphinxcontrib-images==0.9.2
sphinxcontrib-spelling==5.4.0
docutils<0.18  # see https://github.com/sphinx-doc/sphinx/issues/9807
